/* Turn the links red */
a:hover {
	color: red;
	font-size: 18px;
}


/* Make the name 36px font and italicized */
h1 {
	font-size: 50px;
	font-style: italic;
	font-family: "Shadows Into Light";
	color: #039;
}

h2 {
	font-size: 40px;
	font-style: arial;
}
/* Make the section headers (e.g. Summary, Experience) 26px font */
h4 {
  font-size: 26px;
}

/* Make the job descriptions (e.g. Co-Owner, A1A Car Wash) blue and 20px font */
h5 {
  font-size: 20px;
}

/* Put a border around the photo, set it to the right */
img#walter {
	border: 1px solid grey;
	border-radius: 15px;
	box-shadow: 10px 10px 5px grey;
	float: right;
}

/* Set the font family for the whole document, and add a background image */


/* Give the paragraphs and lists a 26px line height */


/* Make the links purple when I put my mouse over it */

/* Make the content of the page "sit on top of" the background */


/* Make it so you can see the footer and center it */
